.square {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 1440px;
  margin-left: 16.6666vw;
  border: 1px solid #42567a33;
  border-top: none;
  border-bottom: none;
  height: 100%;

  .line {
    position: absolute;
    background-color: #42567a33;
  }

  .horizontal {
    top: 44.4444vh;
    left: 0;
    width: 100%;
    height: 1px;
    transform: translateY(-50%);
  }

  .vertical {
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    transform: translateX(-50%);
  }
  .content {
    display: flex;
    flex: 1;
    flex-direction: column;

    padding-top: 8.8541dvw;
  }
}
