.container {
  position: relative;
  flex-direction: column;
  align-items: start;
  display: flex;
  margin-top: 36.11vh;
  padding-left: 80px;
  pointer-events: none;
  gap: 20px;

  @media (max-height: 1000px) {
    margin-top: 15dvw;
  }

  @media (max-width: 1600px) {
    margin-top: 17dvw;
  }

  @media (max-width: 1400px) {
    margin-top: 20dvw;
  }

  @media (max-width: 1200px) {
    margin-top: 25dvw;
  }

  @media (max-width: 1060px) {
    margin-top: 30dvw;
  }

  @media (max-width: 1010px) {
    margin-top: 15dvw;
    padding: 0;
  }
  .counter {
    font-family: 'PT Sans', sans-serif;
    //  14px in figma 400 weight
    font-weight: 600;
    font-size: 18px;
    color: #42567a;
  }
  .bottonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    pointer-events: all;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #0e378380;
      cursor: pointer;

      &:hover {
        background-color: #ffff;
      }
    }
  }
}
