.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 122px;
  margin-top: 36.11vh;
  padding-left: 80px;
  margin-bottom: 56px;
  align-items: start;
  gap: 20px;

  @media (max-width: 1200px) {
    margin-top: 30dvw;
  }

  @media (max-width: 1060px) {
    margin-top: 35dvw;
  }

  @media (max-width: 992px) {
    margin-top: 40dvw;
  }

  .counter {
    font-family: 'PT Sans', sans-serif;
    //  14px in figma 400 weight
    font-weight: 600;
    font-size: 18px;
    color: #42567a;
  }
  .bottonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #42567a80;
      cursor: pointer;
    }
  }
}
